<turbo-frame id="past-launches">
    <table class="table">
        <thead>
            <tr class="border-b">
                <th{% if pagination.isSorted('pl.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Name', 'pl.name') }}
                </th>
                <th{% if pagination.isSorted('pl.launchDate') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Date', 'pl.launchDate') }}
                </th>
                <th{% if pagination.isSorted('pl.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Success', 'pl.success') }}
                </th>
            </tr>
        </thead>

        <tbody>
            {% for past_launch in pagination %}
                <tr>
                    <td class="p-4 align-middle">
                        <div class="flex items-center gap-3">
                            <div class="avatar">
                                <div class="mask mask-squircle h-12 w-12">
                                    <img
                                        src="{{ past_launch.patch }}"
                                        alt="{{ past_launch.name ~ '_patch' }}" />
                                </div>
                            </div>
                            <div>
                            <div>{{ past_launch.name }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="p-4 align-middle">{{ past_launch.launchDate | date('d/m/Y H:i:s') }}</td>
                    <td class="p-4 align-middle">{{ past_launch.success ? 'Yes' : 'No' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation flex justify-center mt-2.5">
        {{ knp_pagination_render(pagination) }}
    </div>
</turbo-frame>
